<div class="form-floating mb-4">
  <input type={{type}} 
  [formControl]="control"
  placeholder="{{label}}"
  class="form-control" 
  [ngClass]="(control.touched) ? control.invalid ? 'is-invalid' : 'is-valid' : null"
  >
  <div class="fa fa-spinner fa-spin loader" *ngIf="control.status === 'PENDING'"></div>
  <label for="floatingInput">{{label}}</label>
  <div *ngIf="control.errors?.['required']" class="invalid-feedback invalid-color-danger">Please enter your {{label}}</div>
  <div *ngIf="control.errors?.['email']" class="invalid-feedback invalid-color-danger">Invalid email address</div>
  <div *ngIf="control.errors?.['pattern']" class="invalid-feedback invalid-color-danger">Password not complex enough</div>
  <div *ngIf="control.errors?.['emailExists']" class="invalid-feedback invalid-color-danger">Email address is already use</div>
</div>